*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #ffffff;
}
body{
    background: url(sachin\ 34.webp) ;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #212121;
}
.containeer{
    position: relative;
}
.clock{
    width: 300px;
    height: 300px;
    border-radius: 200px;
    background-color: rgba(255,255, 255, 0.1);
    border: solid  rgba(255,255, 255, 0.25);
    box-shadow: 9px,8px,30px ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clock span{
    position: absolute;
    transform: rotate(calc(30deg* var(--1)));
    inset: 12px;
    text-align: center;
    
}
.clock span b{
    transform: rotate(calc(-30deg* var(--1)));
    display: inline-block;
    font-family: 20px;
}
.clock::before{
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #ffffff;
    z-index: 2;
}
.hand{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hand i{
    position: absolute;
    background-color:var(--clr);
    width: 4px;
    height: var(--h);
    border-radius: 10px;
    

}   